<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h2 class="fw-bold text-dark">Gerenciamento de Salas</h2>
                <p class="text-muted">Visualização e controle das salas disponíveis.</p>
            </div>

            
            <div>
                <a href="{% url 'reunioes' %}" class="btn btn-danger py-3 shadow-sm me-5">
                    <span class="fw-bold">Voltar</span>
                    <i class="bi bi-box-arrow-right"></i>
                </a>
                <a href="{% url 'criar_sala' %}" class="btn btn-dark py-3 shadow-sm">
                    <span class="fw-bold">Nova Sala</span>
                    <i class="bi bi-door-open"></i>
                </a>
            </div>
        </div>

        <div class="card shadow-sm">
            <table class="table table-hover align-middle text-center">
                <thead class="table-dark bg-dark">
                    <tr>
                        <th scope="col" class="">Nome</th>
                        <th scope="col">Capacidade</th>
                        <th scope="col">Localização</th>
                        <th scope="col">Ocupada</th>
                        <th scope="col">Editar <i class="bi bi-gear-wide-connected"></i></th>
                        <th scope="col">Excluir <i class="bi bi-trash-fill"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sala in salas %}
                        <tr>
                            <td>
                                {{sala.nome}}
                            </td>
                            <td>
                                {{sala.capacidade}}
                            </td>
                            <td>
                                {{sala.localizacao}}
                            </td>
                            <td>
                                {% if sala.ocupada %}
                                    Sim <i class="bi bi-people-fill"></i>
                                {% else %}
                                    Não <i class="bi bi-person"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'alterar_sala' sala.id %}" class="btn btn-outline-dark btn-sm px-3 shadow-sm d-inline-flex align-items-center">Editar</a>
                            </td>
                            <td>
                                <form action="{% url 'excluir_sala' sala.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm px-3 shadow-sm d-inline-flex align-items-center">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>